---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  actions: read
  contents: read
  packages: write
  security-events: write

jobs:
  ci:
    uses: erik73/workflows/.github/workflows/base-ci.yaml@d0d4c05fc6c6cdfe93f40f6a727c7370757942e5 # v1.0.6

  deploy:
    needs: ci
    uses: erik73/workflows/.github/workflows/base-deploy.yaml@d0d4c05fc6c6cdfe93f40f6a727c7370757942e5 # v1.0.6
